form {
    margin: 0;
    text-align: center;
}

select {
    background-color: #ececec;
}

select:focus {
    outline-color: var(--primary);
}

select, input {
    border-radius: 5px;
}

form, label, select, input{
    padding: 0.4rem;
    font-size: 1rem;
    margin-left: 1rem;
}

input[type=submit] {
    height: 2rem;
    align-self: center;
    width: 5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    transition: background-color var(--transition-speed), border var(--transition-speed);
}

input[type=submit]:hover {
    border: 1px solid var(--primary);
    background-color: white;
    cursor: pointer;
}

input[type=submit]:focus {
    outline: none;
}
