.alertsContainer {
    padding: 2rem;
    margin: 0;
    height: calc(100vh - 4rem);
    text-align: center;
}

.alertsTable {
    width: 100%;
}

.tableHead {
    background-color: var(--primary);
    text-align: center;
}

.tableBody {
    text-align: left;
}

table, tr, th {
    border: 1px solid var(--bg-primary);
}

td {
    border-bottom: 1px dashed var(--bg-primary);
}

tr, th {
    padding: 0.6rem;
}

.planesList {
    text-align: left;
    list-style-image: url("../../images/plane-solid.svg");
}

.planeElement {
    padding: 0.2rem;
}

.planeElement:hover {
    color: white;
    background-color: var(--primary);
    transition: background-color var(--transition-speed), border var(--transition-speed);
}