.fa-icon {
  height: 25vmin;
  pointer-events: none;
}

.main {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--bg-primary)
}

.title {
  font-size: 2rem;
}

.description {
  text-wrap: normal;
  width: 50%;
}
