.modal-title {
    text-align: center;
}

.modal-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.modal-item {
    width: 100%;
    padding-bottom: .8rem;
    font-size: 1.2rem;
}

.modal-close {
    height: 2rem;
    font-size: 1rem;
    width: 5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    cursor: pointer;
    transition: background-color var(--transition-speed), border var(--transition-speed);
}

.modal-close:hover {
    border: 1px solid var(--primary);
    background-color: white;
    cursor: pointer;
}

.modal-close:focus {
    outline: none;
}

.ReactModalPortal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 400px;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    position: absolute !important;
    z-index: 1000;
}

.modal-content {
    border-left: 1px solid var(--secondary);
    background: rgba(255, 255, 255, 1);
    overflow: auto;
    outline: none;
    height: 100vh;
}

.fa-icon-modal {
    padding-right: 0.5rem;
    color: var(--primary);
}


/* Animation */
@media (prefers-reduced-motion: no-preference) {
    .ReactModal__Overlay.ReactModal__Overlay--after-open  {
        animation: slide-left 1s;
    }

    .modal-content {
        animation: hide-overflow 1s;
    }
}

@keyframes hide-overflow {
    from {
        overflow: hidden;
    }
    to {
        overflow: auto;
    }
}


@keyframes slide-left {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0;
    }
}