.fa-icon-nice {
    height: 25vmin;
    pointer-events: none;
    color: var(--primary);
}

.wrapperAbout {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--bg-primary)
}

.titleAbout {
    font-size: 2rem;
}

.description {
    text-wrap: normal;
    width: 50%;
}
