.pageContainer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.leaflet-container {
    height: 95vh;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    opacity: 0.5;
    border: none;
    background-color: transparent;
}

.leaflet-marker-icon:hover,
.leaflet-marker-shadow:hover {
    opacity: 1;
}

.loading {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter {
    margin-bottom: 5px;
}