.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-speed) ease;
    z-index: 9999;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;

}

.link-text {
    display: none;
    margin-left: 1rem;
}

.fa-icon {
    min-width: 2rem;
    min-height: 25vh;
    margin: 0 1.5rem;
    color: var(--primary);
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.nav-item:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary)
}

.logo {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    letter-spacing: 0.3ch;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo .fa-icon {
    transform: rotate(-90deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo .fa-icon {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}