.container {
    display:grid;
    height: calc(100vh - 6rem); /*6rem = gap + padding top + padding bottom*/
    padding: 2rem;
    margin: 0;
    grid-template-areas:
        "filter filter filter"
        "stats1 stats2 stats2"
        "stats3 stats3 stats4";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 7.5% 50% 40%;
    gap: 2rem;
    justify-items: stretch;
    align-items: stretch;
    text-align: center;

}

@media screen and (max-width: 1440px) {
    .container {
        grid-template-areas:
            "filter stats1"
            "stats2 stats2"
            "stats3 stats3"
            "stats4 stats4";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 30% 50% 30% 30%;
    }
}

.generic {
    border: 2px solid var(--bg-primary);
    border-radius: 5px;
}


.filter {
    grid-area: filter;
    border-bottom: 2px solid var(--bg-primary);
}

.groundStats {
    grid-area: stats1;
    padding-bottom: 2rem;
}

.originCountryStats {
    grid-area: stats2;
    overflow-y: hidden;
}

.velocityStats {
    grid-area: stats3;
    padding-bottom: 3rem;
}

.routesRankingStats {
    grid-area: stats4;
    overflow-y: scroll;

}

.rankingList {
    text-align: left;
    list-style-image: url("../../images/plane-solid.svg");
}

.rankingElement {
    padding: 0.2rem;
}

.rankingElement:first-child {
    font-size: 1.5rem;
}

.rankingElement:nth-child(2) {
    font-size: 1.25rem;
}

h3 {
    margin: 0;
    padding-top: 1rem;
}

.loadingCommonRoutes {
    text-align: center;
    font-size: 1rem;
    height: calc(100% - 3rem);
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}